In [2]:
from mpl_toolkits import mplot3d

import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [19]:
x = np.arange(1,51)
y = x
z = x
c = np.random.rand(125000,1)
mylist = []

In [20]:
c

array([[0.7010322 ],
       [0.39392863],
       [0.64665208],
       ...,
       [0.83498436],
       [0.97073674],
       [0.47086355]])

In [21]:
for entryx in x:
    for entryy in y:
        for entryz in z:
            mylist.append([entryx, entryy, entryz, c[entryx*entryy*entryz -1]])

In [22]:
len(mylist)

125000

In [23]:
df = pd.DataFrame(mylist, columns = ['x','y','z', 'val'])

In [24]:
df

         x   y   z                    val
0        1   1   1    [0.701032200575056]
1        1   1   2   [0.3939286277221117]
2        1   1   3   [0.6466520756405664]
3        1   1   4   [0.7973427781919545]
4        1   1   5   [0.4771055666213152]
...     ..  ..  ..                    ...
124995  50  50  46   [0.3223321773422976]
124996  50  50  47   [0.7668044387561354]
124997  50  50  48   [0.3183255150706129]
124998  50  50  49   [0.6060605352450209]
124999  50  50  50  [0.47086355077622244]

[125000 rows x 4 columns]